@import 'tailwindcss';
@import '@mantine/core/styles.css';
@import '@mantine/charts/styles.css';
@import '@mantine/dates/styles.css';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }
}

